<h1><%= @list.name %></h1>
<%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-primary mb-3' %>
<div class="row">
  <% @list.movies.each do |movie| %>
    <div class="col-3">
      <div class="card" style="height: 100%;">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500<%= movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
        </div>
        <div style="display: flex; justify-content: space-between; padding: 0 16px;">
          <p class="card-text"><%= movie.rating %>/10</p>
          <%= link_to 'Delete', bookmark_path(Bookmark.find_by(list_id: @list.id, movie_id: movie.id)), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
